
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

html, body {
    font-family: 'Bai Jamjuree', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(210, 10%, 33%);
    background: #fff;
}

.wrap {
    margin: 0;
    padding: 90px 0 !important;
    background-image: url('../images/bg-header-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frs {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.frs h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #333;
}

.frs p{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #777;
}

.btn-dw {
    margin: 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
}

.btn-success {
    background: hsl(171, 66%, 44%);
    box-shadow: 0px 3px hsl(171, 67%, 30%);
}

.btn-primary {
    background: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsl(233, 90%, 30%);;
}

.btn:nth-child(1) {
    margin: 0px 30px;
}

.btn:nth-child(2) {
    margin: 0px 30px
}

#scd {
    margin: 0;
    padding: 45px 0;
    text-align: center;
}

#scd h2 {
    font-size: 50px;
    font-weight: 600;
    color: #333;
    line-height: 1.65;
}

#scd p {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 1px;
    color: #777;
}

.space {
    height: 100px;
}

#trd {
    margin: 0;
    padding: 100px;
    height: 100vh;
}

#content-right {
    margin: 0;
    padding: 0 50px 20px 50px;
}

#content-right h3 {
    padding: 10px 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.65;
    color: #333;
}

#content-right p {
    font-size: 23px;
    letter-spacing: 1.5px;
    color: #888;
}

#dvc {
    margin: 0;
    padding: 50px 0px;
    text-align: center;
}

#dvc h3 {
    padding: 10px 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.65;
    color: #333;
}

#dvc p {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

#dvc img {
    margin: 0;
    padding: 100px 0;
    width: 70%;
}

#wrkf {
    margin: 0;
    text-align: center;
}

#wrkf h3 {
    padding: 10px 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.65;
    color: #333;
}
#wrkf h4 {
    padding: 20px 0 0 15px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.65;
    color: #444
}

#wrkf p {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

#wrkf #icon {
    margin: 0;
    margin-left: 150px;
    padding: 50px 0 10px 0;
    text-align: center;
}

#wrkf #content p {
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
    line-height: 2.3;
}

#partner{
    margin: 0;
    padding: 90px 0;
    text-align: center;
}

.end {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.end h3 {
    margin: 0;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #333;
}

.end p{
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #777;
}

footer {
    margin: 0;
    padding: 50px 0;
    background: rgb(245, 245, 245);
}

footer .foo-logo {
    width: 50%;
}

footer .list-group-flush .list-group-item {
    background: transparent;
    border: none
}