
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

html, body {
    font-family: 'Bai Jamjuree', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(210, 10%, 33%);
    background: #fff;
}

.wrap {
    margin: 0;
    padding: 90px 0 !important;
    background-image: url('../images/bg-header-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frs {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.frs h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #333;
}

.frs p{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn-dw {
    margin: 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
}

.btn-success {
    background: hsl(171, 66%, 44%);
    box-shadow: 0px 3px hsl(171, 67%, 30%);
}

.btn-primary {
    background: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsl(233, 90%, 30%);;
}

.btn:nth-child(1) {
    margin: 0px 30px;
}

.btn:nth-child(2) {
    margin: 0px 30px
}